<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<title>Course Chain</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
	<link href="../static/css/chain.css" th:href="@{/css/chain.css}" rel="stylesheet"/>
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand text-white">Edit Course Chain</a>
			<a th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-primary" href="#" onclick="$('#form').submit();">Logout</a>
			<form style="visibility: hidden; display:none" id="form" method="post" th:action="@{/logout}"></form>
		</div>
	</nav>
	<!-- Include Breadcrumb -->
	<div th:replace="general :: breadcrumb"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="card text-white bg-secondary my-4 text-center">
			<div class="card-body">
				<p class="text-white m-0">
					<a sec:authorize="hasRole('ROLE_A')" class='btn btn-primary' href="">Create new Chain</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To create the relationship between course and detailed items.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 mb-4 my-card" th:each="chainView : ${chainViewList}">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title" th:text="${chainView.chainName}"></h2>
						<p class="card-text" th:each="courseName : ${chainView.courseNames}" th:text="${courseName}"></p>
					</div>
					<div class="card-footer" sec:authorize="hasRole('ROLE_A')">
						<a th:href="@{'/admin/course?chainId='+${chainView.chainId}}" class="btn btn-primary">Edit Chain</a>
					</div>
					<div class="card-footer" sec:authorize="hasRole('ROLE_S')">
						<a th:href="@{'/student/course?chainId='+${chainView.chainId}}" class="btn btn-primary">Display Chain</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<!-- Pagination -->
		<ul class="pagination justify-content-center" th:if="${totalPage > 1}">
			<li class="page-item"  th:classappend="${firstPage} == ${currentPage} ? disabled : ''">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${firstPage})}" th:text="First"></a>
			</li>
			<li class="page-item disabled" th:if="${trimHead} == 1">
				<a class="page-link" href="#" th:text="..."></a>
			</li>
			<li class="page-item"  th:classappend="${prePage} > 0 ? '' : disabled">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${prePage})}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				</a>
			</li>
			<li class="page-item" th:each="pageNumber : ${pageNumbers}"
				th:classappend="${pageNumber} == ${currentPage} ? 'active' : ''">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${pageNumber})}"
				  					 th:text="${pageNumber}"></a>
			</li>
			<li class="page-item disabled" th:if="${trimEnd} == 1">
				<a class="page-link" href="#" th:text="..."></a>
			</li>
			<li class="page-item" th:classappend="${nextPage} > 0 ? '' : disabled">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${nextPage})}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
			</li>
			<li class="page-item"  th:classappend="${lastPage} == ${currentPage} ? disabled : ''">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${lastPage})}" th:text="Last"></a>
			</li>
		</ul>
	</div>


	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>