<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<title>Course Chain</title>
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h3>
						Edit Course Chain
					</h3>
					<button class="btn" type="button">Create new Chain
					</button>

					<div class="row-fluid">
						<div class="col-md-4" th:each="chainView : ${chainViewList}">
							<h3 th:text="${chainView.chainName}" class="name">
							</h3>
							<button class="btn" type="button">Edit Chain
							</button>
							<ol th:each="courseName : ${chainView.courseNames}">
								<li th:text="${courseName}" class="name">
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>