<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<title>Course Chain</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/bootstrapvalidator.min.css" th:href="@{/css/bootstrapvalidator.min.css}" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
	<link href="../static/css/chain.css" th:href="@{/css/chain.css}" rel="stylesheet"/>
</head>
<body>
	<!-- Navigation -->
	<div th:replace="general :: navigation"></div>
	<!-- Include Breadcrumb -->
	<div th:replace="general :: breadcrumb"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="card text-white bg-secondary my-4 text-center">
			<div class="card-body">
				<p class="text-white m-0">
					<a sec:authorize="hasRole('ROLE_A')" class='btn btn-primary' href=""
					   data-toggle="modal" data-target="#createchain">Create new Chain</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To create the relationship between course and detailed items.
				</p>
			</div>
		</div>

		<div class="alert alert-warning" th:if="${error != null}" th:text = "${error}"/>

		<div class="row">
			<div class="col-md-4 mb-4 my-card" th:each="chainView : ${chainViewList}">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title" th:text="${chainView.chainName}"></h2>
						<p class="card-text" th:each="courseName : ${chainView.courseNames}" th:text="${courseName}"></p>
					</div>
					<div class="card-footer" sec:authorize="hasRole('ROLE_A')">
						<a th:href="@{'/admin/course?chainId='+${chainView.chainId}}" class="btn btn-primary">Edit Chain</a>
					</div>
					<div class="card-footer" sec:authorize="hasRole('ROLE_S')">
						<a th:href="@{'/student/course?chainId='+${chainView.chainId}}" class="btn btn-primary">Display Chain</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<!-- Pagination -->
		<div th:replace="general :: pagination"></div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="createchain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="newChainForm" class="form-horizontal" role="form" th:action="@{/admin/newchain}" method="post">
					<div class="modal-body">
						<div class="form-group">
							<input type="text" class="form-control" id="chainName" name="chainName" placeholder="Chain Title"/>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button class="btn btn-primary" type="submit">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrapValidator.js}"></script>
</body>
</html>