<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Course Chain</title>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>Course Chain</h1>
        </div>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courseList}">
                        <td th:text="${course.courseName}" class="name"></td>
                        <td th:text="${course.description}" class="description"></td>
                        <td class="operate">
                            <a class='btn btn-primary ' th:href="@{'/admin/material?courseId='+${course.courseId}}">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${totalPage > 1}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}">|
                <a th:href="@{${#httpServletRequest.requestURI}(chainId=${chainId}, start=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==currentPage + 1} ? active"></a>
            </div>
        </div>
    </body>
</html>