<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Course Chain</title>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/css/course.css" th:href="@{/css/course.css}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="general :: navigation"></div>
        <!-- Include Breadcrumb -->
        <div th:replace="general :: breadcrumb"></div>

        <div class="container" style="margin-top:20px;">
            <div class="card text-white bg-secondary my-4 text-center" sec:authorize="hasRole('ROLE_A')">
                <div class="card-body">
                    <p class="text-white m-0">
                        <a  class='btn btn-primary' href=""
                           data-toggle="modal" data-target="#createcourse">Create new course</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a  class='btn btn-primary' href=""
                            data-toggle="modal" data-target="#addcourses">Add existing courses</a>
                    </p>
                </div>
            </div>

            <div class="alert alert-warning" th:if="${error != null}" th:text = "${error}"/>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courseList}">
                        <td th:text="${course.courseName}" class="name"></td>
                        <td th:text="${course.description}" class="description"></td>
                        <td class="operate">
                            <a class='btn btn-primary' sec:authorize="hasRole('ROLE_A')" th:href="@{'/admin/material?courseId='+${course.courseId}}">Edit</a>
                            <a class='btn btn-primary' sec:authorize="hasRole('ROLE_S')" th:href="@{'/student/material?courseId='+${course.courseId}}">Display</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div th:replace="general :: pagination"></div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="createcourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create course</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="newCourseForm" class="form-horizontal" role="form" th:action="@{/admin/newcourse}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="courseName" name="courseName" placeholder="Course name"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="courseDescription" name="courseDescription" placeholder="Course description"/>
                            </div>
                            <input type="hidden" name = "chainId" id ="chainId" th:value="${chainId}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addcourses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Add courses</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="addCoursesForm" class="form-horizontal" role="form" th:action="@{/admin/addcourselist}" method="post">
                        <div class="modal-body pre-scrollable">
                            <div class="form-check" th:each="item : ${remainCourses}">
                                <input type="checkbox" class="form-check-input" name="courseIds"
                                       th:value="${item.courseId}" th:text="${item.courseName} + '   ---   ' + ${item.description}"/>
                            </div>
                            <input type="hidden" name = "chainId" id ="chainId" th:value="${chainId}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>