<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Course Chain</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="page-header">
	<h3>
        <div th:text ="${courseName}"> </div>
	</h3>
</div>
<label>Material</label>
<div class="container">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Number</th>
        <th>Description</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="material,iterStat: ${materialList}">
        <td th:text="${iterStat.index }+1" class="name"></td>
        <td th:text="${material.materialName}" class="description"></td>
        <td class="operate">
            <button type="submit" class="btn btn-primary"  th:href="@{'/admin/material/download?material.materialName='+${material.materialName}}">Download</button>
        </td>
    </tr>

    </tbody>
    </table>
</div>

<p>
<form class="form-inline" method="POST" enctype="multipart/form-data" th:action="@{/admin/upload}">
<label>Add New Material</label>
    <div class="form-group">
    <label class="sr-only" for="inputfile">Input File</label>
    <input type="file" id="inputfile" name="file" />
  </div>
  <!--<div class="checkbox">-->
    <!--<label>-->
      <!--<input type="checkbox" />Please tick-->
    <!--</label>-->
  <!--</div>-->
    <input id="upload" type="submit" class="btn btn-primary"/>
</form>
</p>
</body>
<script type="text/javascript">

   $(function(){

   $("input[type=submit]").click(function(){
   var file = $("#inputfile").val();
   if(file == "")
   {
        alert("Choose a file you want to upload!");
        return false;

   }
   });

});



</script>
</html>