<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Course Chain</title>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand text-white">Course Chain</a>
                <a th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-primary" href="#" onclick="$('#form').submit();">Logout</a>
                <form style="visibility: hidden; display:none" id="form" method="post" th:action="@{/logout}"></form>
            </div>
        </nav>


        <div class="container" style="margin-top:100px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courseList}">
                        <td th:text="${course.courseName}" class="name"></td>
                        <td th:text="${course.description}" class="description"></td>
                        <td class="operate">
                            <a class='btn btn-primary ' th:href="@{'/admin/material?courseId='+${course.courseId}}">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center" th:if="${totalPage > 1}">
                <li class="page-item"  th:classappend="${firstPage} == ${currentPage} ? disabled : ''">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${firstPage})}" th:text="First"></a>
                </li>
                <li class="page-item disabled" th:if="${trimHead} == 1">
                    <a class="page-link" href="#" th:text="..."></a>
                </li>
                <li class="page-item"  th:classappend="${prePage} > 0 ? '' : disabled">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${prePage})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                    th:classappend="${pageNumber} == ${currentPage} ? 'active' : ''">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${pageNumber})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item disabled" th:if="${trimEnd} == 1">
                    <a class="page-link" href="#" th:text="..."></a>
                </li>
                <li class="page-item" th:classappend="${nextPage} > 0 ? '' : disabled">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${nextPage})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"  th:classappend="${lastPage} == ${currentPage} ? disabled : ''">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(start=${lastPage})}" th:text="Last"></a>
                </li>
            </ul>
        </div>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>