<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>
<div th:fragment="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:each="item : ${BreadCrumb}">
                <a th:href="${item.url}" th:text="${item.name}" th:if="${#httpServletRequest.requestURI} != ${item.url}"></a>
                <a th:text="${item.name}" th:if="${#httpServletRequest.requestURI} == ${item.url}"></a>
            </li>
        </ol>
    </nav>
</div>

</body>
</html>