<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Logon Page</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div sec:authorize="isAnonymous()">
  <form class="form-horizontal" role="form" th:action="@{/login}" method="post">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="username" name="username" placeholder="Please input username"/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="password" name="password" placeholder="Please input password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox"/>Remember Me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <input type="submit" class="btn btn-default" value="Logon"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2" th:if="${param.error}">
        Invalid username and password.
      </div>
      <div class="col-sm-offset-2 col-sm-2" th:if="${param.logout}">
        You have been logged out.
      </div>
    </div>
  </form>
</div>
<div sec:authorize="isAuthenticated()">
  <form class="form-horizontal" role="form" th:action="@{/logout}" method="post">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        Hello <span sec:authentication="name"/>, You have been logged in already.
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <input type="submit" class="btn btn-default" value="Logout"/>
      </div>
    </div>
  </form>
</div>

</body>
</html>