<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Logon Page</title>
    <link href="../static/css/logon.css" th:href="@{/css/logon.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body id="LoginForm">
<div class="container">
  <h1 class="form-heading">Training system</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Login</h2>
        <p>Please enter your username and password</p>
      </div>
      <div sec:authorize="isAnonymous()">
        <form class="form-horizontal" role="form" th:action="@{/login}" method="post">
          <div class="form-group">
              <input type="text" class="form-control" id="username" name="username" placeholder="Please input username"/>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Please input password"/>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember-me"/>Remember Me
              </label>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Logon"/>
          </div>
          <div class="form-group">
            <div th:if="${param.error}">
              Invalid username and password.
            </div>
            <div th:if="${param.logout}">
              You have been logged out.
            </div>
          </div>
        </form>
      </div>
      <div sec:authorize="isAuthenticated()">
        <form class="form-horizontal" role="form" th:action="@{/logout}" method="post">
          <div class="form-group">
              Hello <span sec:authentication="name"/>, You have been logged in already.
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Logout"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>