body {
  padding-top: 54px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.my-card{
height: 300px;
}

.pagination {
  margin-bottom: 30px;
}
